* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// HEADER
.header {
  height: 100vh;
  background: linear-gradient(to bottom,#6F7DFB,#057ADA);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  & .header-nav{
    width: 100vw;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    position: fixed;
    z-index: 2;
    padding-top: 40px;
    & h1{
      font-size: 50px;
      font-weight: bold;
    }
    & ul{
      list-style-type: none;
      display: flex;
      font-size: 20px;
      & li{
        margin-left: 50px;
        margin-top: 20px;
      }
      & button {
        margin-left: 40px;
        font-size: 18px;
        color: white;
        background-color: #023047;
        width: 150px;
        height: 60px;
        font-weight: bold;
        border: none;
        border-radius: 20px;
      }
    }
  }
  & .header-left {
    width: 50%;
    height: 85%;
    padding: 200px 0 0 230px;
    color: white;

    & h1{
      font-size: 50px;
    }

    &  p{
      width: 450px;
      font-size: 20px;
      margin-top: 20px;
    }
    
    & button{
      width: 150px;
      height: 50px;
      font-size: 20px;
      background-color: #da722c;
      border: none;
      border-radius: 20px;
      color: white;
      margin-top: 20px;
    }

    & .header-left-student{
      width: 200px;
      height: 100px;
      background-color: white;
      color: #023047;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 20px;
      box-shadow: 5px 5px #3e4897;
      position: absolute;
      top: 300px;
      left: 750px;
    }
    & .header-left-rating{
      width: 200px;
      height: 100px;
      background-color: white;
      color: #023047;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 20px;
      box-shadow: 5px 5px #3e4897;
      position: absolute;
      top: 500px;
      left: 700px;
    }
  }
  & .header-right {
    width: 50%;
    height: 85%;
    position: relative;
    & img{
      height: 500px;
      position: absolute;
      bottom: 0;
      left: 200px;
    }
  }
}

// ABOUT
.about {
  height: 90vh;
  display: flex;
  flex-direction: row;
  position: relative;
  & .about-left{
    width: 50%;
    & .women{
      width: 400px;
      height: 200px;
      border-radius: 30px;
      position: absolute;
      background-color: white;
      box-shadow: 10px 10px 20px 5px rgba($color: #000000, $alpha: .2);
      top: 130px;
      left: 100px;
      z-index: 1;
      
      & .top{
        background-color: #6F7DFB;
        height: 100px;
        border-radius: 30px;
        padding: 30px 0 0 30px;
        font-size: 20px;
        color: white;
        font-weight: bold;
      }

      & .bottom{
        color: #032c41;
        font-size: 20px;
        padding: 20px 0 0 30px;
      }

      & img{
        width: 120px;
        position: absolute;
        right: 30px;
        top: 70px;
      }

    }
    & .men{
      width: 400px;
      height: 200px;
      border-radius: 30px;
      position: absolute;
      background-color: white;
      box-shadow: 10px 10px 20px 5px rgba($color: #000000, $alpha: .2);
      top: 400px;
      left: 130px;
      z-index: 1;
      
      & .top{
        background-color: #da722c;
        height: 100px;
        border-radius: 30px;
        padding: 30px 0 0 30px;
        font-size: 20px;
        color: white;
        font-weight: bold;
      }

      & .bottom{
        color: #032c41;
        font-size: 20px;
        padding: 20px 0 0 30px;
      }

      & img{
        width: 120px;
        position: absolute;
        right: 30px;
        top: 70px;
      }

    }

    & .line{
      height: 550px;
      width: 30px;
      background-color: #032c41;
      border-radius: 20px;
      margin-top: 100px;
      margin-left: 200px;
    }
  }
  & .about-right{
    width: 50%;
    padding-top: 200px;
    padding-right: 150px;
    & h1{
      font-size: 60px;
    }
    & p{
      font-size: 20px;
      margin-top: 20px;
    }

    & button{
      width: 150px;
      height: 50px;
      background-color: #da722c;
      border: none;
      border-radius: 20px;
      font-size: 20px;
      font-weight: bold;
      color: white;
      margin-top: 30px;
      
    }
  }

}

// SERVICES
.service {
  height: 100vh;
  background: linear-gradient(to bottom,#6F7DFB,#057ADA);
  display: flex;
  flex-direction: column;  
  align-items: center;
  color: white;
  padding: 50px 0 0 0;
  & h1{
    font-size: 60px;
  }
  & .items{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;

    & .item{
      width: 500px;
      height: 450px;
      background-color: white;
      display: flex;
      flex-direction: column;
      color: black;
      align-items: center;
      border-radius: 30px;

      & img{
        width: 400px;
        border-radius: 20px;
        box-shadow: 0 10px 20px 5px rgba($color: #000000, $alpha: .2);
      }
      & .text{
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
        & h2{
          width: 80%;
          font-size: 30px;
        }
        & h3{
          width: 20%;
          font-size: 20px;
          margin-top: 50px;
        }
      }
      & hr{
        border: 6px solid #023047;
        width: 80%;
        border-radius: 10px;
        margin-top: 90px;
      }
    }
  }
  & button{
    background-color: #da722c;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 1060px;
  }
}

// APP
.app {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1{
    font-size: 60px;
    color: #032c41;
    margin-top: 40px;
  }

  & p{
    font-size: 20px;
    color: #032c41;
    margin-top: 20px;
  }

  & .download{
    width: 800px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;

    & .store{
      width: 300px;
      height: 80px;
      display: flex;
      flex-direction: row;
      background-color: black;
      align-items: center;
      & .name{
        color: white;
        font-size: 30px;
        margin: 0 0 10px 10px;
      }

      & img{
        width: 60px;
        margin-left: 30px;
      }
    }
  }
}

// FOOTER
.footer {
  height: 50vh;
  width: 100vw;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 50px;

  & ul{
    font-size: 20px;
    color: #da722c;
    list-style-type: none;

    & li{
      color: white;
      margin: 10px 0 0 20px;
      
      & .email{
        height: 40px;
        width: 400px;
        background-color: white;
        position: relative;
        border-radius: 10px;
        margin-top: 30px;


        & input{
          height: 100%;
          width: 100%;
          border: none;
          border-radius: 10px;
          padding-left: 15px;
          font-size: 15px;
        }

        & button{
          height: 30px;
          width: 100px;
          position: absolute;
          right: 5px;
          top: 5px;
          border-radius: 10px;
          border: none;
          background-color: #023047;
          color: white;
        }
      }
    }

  }
}